<div class="td-pb-row">
	<div class="td-pb-span8 td-sub-footer-menu">
		<div class="td-pb-padding-side">
			<div class="menu-footer-menu-container">
				<ul id="menu-footer-menu-1" class="td-subfooter-menu">
					<li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-257"><a href="#">Derechos Reservados</a></li>
					<li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu menu-item-258"><a href="#">Publicidad</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-259"><a href="#">Contactanos</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="td-pb-span4 td-sub-footer-copy">
		<div class="td-pb-padding-side">
			By: <a href="http://anibalcopitan.com">AnibalCopitan</a>
		</div>
	</div>
</div>


